{% extends "base.html" %}

{% block title %}
  Sociogramme
{% endblock %}

{% block content %}
<!-- Titre de la page affichant la question associée au sociogramme -->
<h1 class="mt-4">Sociogramme pour : {{ question.titre }}</h1>

<!-- Affichage du sociogramme sous forme d'image encodée en base64 -->
<img src="data:image/png;base64,{{ graph_url }}" class="img-fluid" alt="Sociogramme">

<!-- Lien pour retourner au tableau de bord administrateur -->
<p>
  <a href="{{ url_for('admin_dashboard') }}" class="btn btn-secondary mt-3">Retour au Tableau de Bord</a>
</p>

<!-- Bouton pour télécharger l'image du sociogramme -->
<a href="data:image/png;base64,{{ graph_url }}" download="sociogramme_{{ question.titre|replace(' ', '_') }}.png" class="btn btn-success mt-3">
  <i class="fas fa-download"></i> Télécharger l'image
</a>
{% endblock %}